/****这个文档主要实现borrow_return.php的借阅提交页面****/

input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

#tb{
	border: 2px solid darkred;
	display: table;
}

#td{
	display: table-cell;
	width: 30%;
}
#image{
	width: 100%;
	background-color: purple;
}